* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: url(./img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    width: 100%;
    font-family: Inter;
    overflow: hidden;
}

/* Navbar */
.navbar {
    /*background-color: #fb646b8d;  apenas pra ficar visivel de vez em quando */
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.menu {
    gap: 20px;
}

.navbar,
.menu {
    display: flex;
    flex-direction: row;
}

.menu li {
    font-size: 20px;
    list-style: none;
}

.menu li:hover,
.checkbtn:hover {
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.497);
    border-radius: 5px;
    transition: 0.5s;
}

.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logo {
    padding: 2px;
}

.checkbtn {
    order: 6;
    display: none;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

#check {
    display: none;
}

/* Container de login */

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

form div {
    justify-content: space-around;
    align-items: center;
    padding: 6px;
}

form input,
form button {
    outline: unset;
    padding: 20px;
    min-width: 450px;
    border: transparent;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.241);
    font-family: Inter;
    transition: 0.3s;
}

form input:focus {
    background-color: rgba(204, 201, 201, 0.596);
    transition: 0.6s;
}

.input-btn {
    background-color: #FB646B;
    color: white;
    cursor: pointer;
    font-family: Inter;
    font-size: 16px;
    width: 100%;
}

.input-btn:hover {
    background-color: #f83d46;
    transition: 0.1s;
}

.input[type=text] {
    font-size: 16px;
    font-family: FontAwesome, Inter;
}

.input[type=password] {
    font-size: 16px;
    font-family: FontAwesome, Inter;
}

/* RODAPÉ */
footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    /* background: #f83d46; */
    height: 20px;
    width: 100vw;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu {
    display: flex;
    flex: 1;
}

.footer-item {
    list-style: none;
    padding-left: 10px;
}

.footer-item a {
    text-decoration: none;
    color: white;
}

.copyright {
    padding: 5px;
}


/* Bem Vindo */

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    min-width: 450px;
    font-size: 24px;
}

section h1,
section form {
    min-width: 450px;
    font-family: Inter;
    transition: 0.3s;
}

.container {
    justify-content: space-around;
    align-items: center;
    padding: 6px;
}

.title {
    text-align: center;
    color: white;
    border-radius: 90px;
    padding: 10px;
}

.input-btn2 {
    background-color: #FB646B;
    color: white;
    cursor: pointer;
    font-family: Inter;
    width: 100%;
    font-size: 10px;
    margin-top: 20px;
}

.input-btn2:hover {
    background-color: #f83d46;
    transition: 0.1s;
}

/* RESPONSIVIDADE */

@media (max-width: 860px) {

    #check:checked~.menu {
        display: block;
    }

    .navbar,
    .menu {
        flex-direction: column;
    }

    .menu {
        display: none;
        text-align: center;
        background-color: #FB646B;
        width: 100vw;
    }

    .menu li {
        padding: 10px;
    }

    .menu li:hover {
        padding: 10px;
        transition: 0.5s;
    }

    .navbar {
        background-color: #FB646B;
        align-items: flex-start;
    }

    .checkbtn {
        display: flex;
    }

    form input,
    form button {
        max-width: 300px;
        transition: 0.1s;
    }
}

@media (min-width: 651px) and (max-width: 860px) {

    form input,
    form button {
        min-width: 280px;
        transition: 0.1s;
    }

    .footer-item {
        font-size: 15px;
    }

    .copyright {
        font-size: 15px;
    }
}

@media (min-width: 463px) and (max-width: 650px) {

    form input,
    form button {
        min-width: 250px;
        transition: 0.1s;
    }

    .footer-item {
        font-size: 10px;
    }

    .copyright {
        font-size: 10px;
    }
}

@media (max-width: 462px) {

    form input,
    form button {
        min-width: 180px;
        transition: 0.1s;
    }

    .footer-item {
        font-size: 6px;
    }

    .copyright {
        font-size: 6px;
    }
}